<h1>
    DCWA Christmas Assignment 2020
</h1>

<table>
    <tr>
        <th><a href="/countries">List countries</a></th>
    </tr>
    <tr>
        <th><a href="/citys">List citys</a></th>
    </tr>
    <tr>
        <th><a href="/headsOfState">List Heads of State</a></th>
    </tr>
</table>